.cursorPointter {
	cursor: pointer;
}
.dashboardContainer {
	margin: 2rem 10rem;
}
@media (max-width: 768px) {
	.dashboardContainer {
		margin: 2rem 4rem;
	}
}
@media (max-width: 539px) {
	.dashboardContainer {
		margin: 2rem 1rem;
	}
}
.loginForm {
	height: 260px;
	width: 320px;
	margin: 8rem auto 2rem auto;
}
.adminTableContainer {
	overflow-x: scroll;
}
.adminTableRow {
	height: 42px;
}
