.contactBox {
    height: 500px;
}
.contactBoxContent {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}
/* .contactItem {
    width: 260px;
} */
